::selection {
        background-color: #ffffff;
}
a {
	text-decoration: none;
}
body {
        color: #87d933;
        background-color: #616161;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New';
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        min-height: 100vh;
        text-align: center;
}
.copyrighttext {
        color: #b6b6b6;
        font-size: 9px;
}
.copyright-container {
        display: flex;
        justify-content: center;
        margin-top: auto;
}
.rectangle0 {
        align-items: center;
        background-color: #ffdaa7;
	border: ridge #e3e3e3 4px;
        display: flex;
        height: auto;
        justify-content: space-around;
        padding: 0 20px;
        width: auto;
}
.index-container {
	text-align: left;
}
.text0 {
        color: #616161;
        position: relative;
        text-decoration: none;
}
#userInput {
	background: transparent;
	border: none;
	color: #87d933;
        font-family: 'Courier New';
        font-size: 16px;
        font-weight: bold;
	outline: none;
}
